TABLE {
    border-collapse: collapse;
    width: 300px;
   }
TH {
    background: #9ACD32;
    text-align: center;
}
TD {
    background: #fff;
    text-align: center;
}
TH, TD {
    border: 1px solid black;
    padding: 4px;
}